/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #131316, #9945FF);
    color: #FFF;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    background: #131316;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

/* Ajustar o tamanho do logo */
header .logo img {
    width: 5px; /* Ajuste para o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
}

header .logo h1 {
    font-size: 2rem;
    margin-left: 20px; /* Aumente ou diminua conforme necessário */
    color: #00FFA3;
    font-weight: 700;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #00FFA3;
}

#hero {
    background: linear-gradient(135deg, #00FFA3, #9945FF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #FFF;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#hero .btn {
    padding: 15px 30px;
    background: #00FFA3;
    color: #131316;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease;
}

#hero .btn:hover {
    transform: scale(1.1);
    background: #9945FF;
}

.section {
    padding: 100px 20px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #FFF;
}

.character-image {
    width: 200px;
    margin-top: 20px;
}

.roadmap {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.phase {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    transition: transform 0.3s ease;
}

.phase:hover {
    transform: scale(1.1);
}

.social-icons {
    margin-top: 30px;
}

.social-link {
    display: inline-block;
    margin: 10px;
    color: #FFF;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #00FFA3;
}

footer {
    background: #131316;
    text-align: center;
    padding: 20px;
    color: #FFF;
}
